{% for host in play_hosts %}
{{ host }}|{{ hostvars[host]['uptim']['stdout'] }}|{{ hostvars[host]['lsb']['stdout'] }}|{{ hostvars[host]['unam']['stdout'] }}|{{ hostvars[host]['JobProcesser_startstatus']['stdout'] }}|{{ hostvars[host]['JobProcesser_patch']['stdout'] }}|{{ hostvars[host]['pending']['stdout'] }}
{% endfor %}
