{% for host in play_hosts %}
{{ host }}|{{ hostvars[host]['uptim']['stdout'] }}|{{ hostvars[host]['unam']['stdout'] }}|{{ hostvars[host]['lsb']['stdout'] }}|{{ hostvars[host]['itop_startstatus']['stdout'] }}|{{ hostvars[host]['itop_patch']['stdout'] }}|{{ hostvars[host]['pending']['stdout'] }}
{% endfor %}
